html
  head
    title!=title
    block scripts
    block css
      link(href='/css/main.css', rel='stylesheet')
  body
    .nav-bar
      ul.main-menu
        li.title 
          img(src='/img/logo.png' height='50px')
        li 
          a Leagues
    block main-container