html
  head
    title!=title
    block scripts
    block css
      link(href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css', rel='stylesheet')
      link(href='/css/main.css', rel='stylesheet')
      link(href='https://fonts.googleapis.com/css?family=Ubuntu', rel='stylesheet')
  body(ng-app='app')
    .nav-bar
      ul#main-menu
        li.title 
          img(src='/img/logo.png' height='50px')
        li 
          a Leagues
    .main-container
      block main-container
    block modules
    block controllers
    block directives