.main-container {
	margin: 50px;
}

.introduction p {
	color: grey;
}

.main-chart {
	margin-top: 20px;
}

path {
	stroke: steelblue;
	stroke-width: 2;
	fill: none;
}

.label {
	fill: grey;
}

.grid .tick {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
	fill: none;
	stroke-width: 1;
	shape-rendering: crispEdges;
}